<!DOCTYPE html>
<% if (htmlWebpackPlugin.options.extraParams) { const { gitInfo, rpmInfo } = htmlWebpackPlugin.options.extraParams %><!--
<% if (gitInfo) { %>  Head:      <%= gitInfo.headOid %><%= gitInfo.hasChanges ? '*' : '' %>
  Tags:      <%= gitInfo.headTags.join(", ") %>
<% } %><% if (rpmInfo) { %>  Package: <%= rpmInfo.packageName %>
  Version: <%= rpmInfo.packageVersion %>
  Release: <%= rpmInfo.packageRelease %>
<% } %>--><% } %>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (webpackConfig.mode === 'development') { %>
  <script>
    if (window.parent !== window) {
      window.__REACT_DEVTOOLS_GLOBAL_HOOK__ = window.parent.__REACT_DEVTOOLS_GLOBAL_HOOK__
    }
  </script>
  <% } %>
</head>
<body>
  <%=htmlWebpackPlugin.files.webpackManifest%>
  <div id="app"></div>
</body>
</html>
